<div id="footer">
  <div class="container">
    <div class="row my_row_footer2">
      <div class="col-lg my_col_footer21">
        <p>Contact Tracer 2021, Damiano Serpetta</p>
      </div>
    </div>
  </div>
  <!-- container -->
</div>
<!-- footer -->