<head>
  <link
    rel="icon"
    href="/images/logos/logo_3.png"
    type="image/png"
    sizes="16x16"
  />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<h2 class="errh2">{{message}}</h2>
<h1 class="errh1">{{error.status}}</h1>