<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="description" content="HTML5 Document">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/images/logos/logo_3.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="/stylesheets/CSS_bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/CSS_bootstrap/bootstrap.min.CSS">
  <link rel="stylesheet" href="/stylesheets/CSS_bootstrap/bootstrap-grid.CSS">
  <link rel="stylesheet" href="/stylesheets/CSS_bootstrap/bootstrap-grid.min.CSS">
  <link rel="stylesheet" href="/stylesheets/CSS_bootstrap/bootstrap-reboot.CSS">
  <link rel="stylesheet" href="/stylesheets/CSS_bootstrap/bootstrap-reboot.min.CSS">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--  Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

  <script src="/javascripts/JQuery/jquery-3.5.1.min.js"></script>
  <!-- Javascript for ajax calls -->
  <script src="/javascripts/reg.js"></script>

  <script src="/javascripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="/javascripts/JS_bootstrap/bootstrap.min.js"></script>
  <script src="/javascripts/JS_bootstrap/bootstrap.js"></script>
</head>

<body>
  {{{body}}}
</body>

<footer>
  {{> footer}}
</footer>

</html>