<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light py-3" id="mainNav">
  <div class="container">
    <button
      class="navbar-toggler mx-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-auto"><a
            class="nav-link js-scroll-trigger"
            href="/"
          >Home</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container" id="contactsData">
  <h3>I tuoi contatti: </h3>
  <table class="table table-responsive" id="contactsTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Data</th>
        <th scope="col">Distanza</th>
        <th scope="col">Posizione</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>